
.wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

//========= HEADER ==========//

.site-header {
  overflow: hidden;
  padding-top: 1rem;
  border-bottom: 5px solid $border;
  .header-components {
    padding-bottom: 1rem;
    .logo-and-info {
      overflow: hidden;
      width: 80%;
      float: left;
      img {
        float: left;
      }
      .info {
        float: left;
        margin-top: 30px;
      }
    }
  }
}


//====== Code Snippets =========//

code,
pre,
samp {
  overflow-x: scroll;
}

//========== BLOG ==========//
.post-link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.2;
}

.post-meta {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
}

.post-float {
  width: 350px;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.post-float:last-of-type {
  margin-bottom: 4rem;
}

.post-excerpt {
  line-height: 1.5;
}

//========= BLOG POST  =========//
.post-header {
  .post-meta {
    margin-bottom: 2rem;
  }
}

.post-content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  p {
    margin-bottom: 2rem;
  }
  .highlight {
    max-width: 700px;
    font-size: 1rem;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  }
}

.blog-nav {
  background-color: lighten($blog-nav-bg, 35%);
  overflow: hidden;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 3em;
  .wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .previous-entry {
    float: left;
  }
  .next-entry {
    float: right;
  }
}

//========= ABOUT  =========//
.about-content {
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
}

.about {
  margin-bottom: 4rem;
  overflow: hidden;
  .about-text {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  p {
    margin-bottom: 2rem;
  }
}
  .about-photo {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
}



//========= FOOTER =========//
.site-footer 
{
  border-top: 5px solid $border;
  background-image: url(/images/zigzagpattern.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footerwrapper {
  overflow: hidden;
  p {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.hetre-and-icons {
  overflow: hidden;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.hetre img {
  display: block;
  width: 100px;
  float: left;
}

.icons {
  max-width: 218px;
  margin-left: 2px;
  margin-bottom: 2rem;
  float: left;

  img {
    width: 70px;
  }
}