// $col: 6.725%;
// $gut: 1.754%;


// @mixin grid ($cnum) {
//   width: ( $col * $cnum ) + ( $gut * ( ( $cnum ) - 1 ) );
//   margin-right: $gut;
//   float: left;
// }

$col: 8.333%;

@mixin grid($colnum) {
  width: {$col * $colnum};
  float: left;
}