<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="hetre">
          <img src="/images/hetre.png">
        </div>
        <div class="icons">
          <img src="/images/ruby-icon.png">
          <img src="/images/beer-icon.png">
          <img src="/images/texas-icon.png">
        </div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  <script>
    var nav = responsiveNav(".nav-collapse");
  </script>
  </body>

</html>
